.cv {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.personal,
.education,
.work,
.skills {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.personal {
  background-color: rgb(60, 146, 238);
}

.education {
  background-color: rgb(147, 226, 255);
}

.work {
  background-color: rgb(183, 243, 255);
}

.skills {
  background-color: rgb(230, 246, 255);
  color: rgb(0, 0, 0);
}

.workExpBtn,
.submitBtn {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.workExpBtn:hover,
.submitBtn:hover {
  background-color: #0056b3;
}

.editBtn {
  margin-left: 3rem;
  margin-top: 3rem;
  width: 9rem;
  background-color: rgb(212, 166, 255);
}
