* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: #ffffff; /* Background color */
  height: 100vh; /* Ensure body takes full height */
}

.editSect {
  width: 50vw; /* Set to 80% width */
  max-height: 80vh; /* Limit height */
  background-color: white;
  color: black;
  overflow-x: hidden; /* Prevent horizontal overflow */
  padding: 4rem; /* Adjust padding */
  overflow-y: auto; /* Allow scrolling within the section if needed */
}

.container {
  width: 100%;
  background-color: white;
}

.formEdit {
  width: 100%; /* Full width of editSect */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

@media (max-width: 1000px) {
  body {
    justify-content: flex-start; /* Align items to the top */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }

  .editSect {
    width: 90vw; /* Full width on smaller screens */
    height: 100vh; /* Full height on smaller screens */
    max-height: none; /* Remove max height */
    padding: 2rem; /* Adjust padding for mobile */
  }

  .formEdit,
  .cvCont {
    width: 100%; /* Full width */
  }
}
