#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

body {
  position: relative;
}

.editSect {
  position: absolute;
  transform: translate(100%, -50%);
  border: 1px black solid;
  width: 30%;
  overflow: scroll;

  max-height: 80%;
}
