/* styles/cv.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

label {
  margin-right: 2rem;
}

input {
  background-color: white;
}

.formEdit {
  max-height: 50%;
  margin: 3rem;
  padding: 2rem;
  width: 60%;
  border: solid rgb(250, 4, 4) 1px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formEdit {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
}

button.workExpBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button.workExpBtn:hover {
  background-color: #0056b3;
}

button.btnDelete {
  background-color: rgb(252, 127, 127);
}

button.submitBtn {
  width: 7rem;
  background-color: #00a3de;
  margin: 1rem;
  align-self: center;
}

@media (max-width: 850px) {
  .formEdit {
    border: 0;
  }

  button.submitBtn {
    width: 9rem;
    background-color: #00a3de;
    margin-top: 3rem;
  }
}
