body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.workExpBtn {
  margin: 1rem;
  background-color: antiquewhite;
}

.workExpBtn:hover {
  background-color: rgb(147, 145, 143);
}

label {
  margin-right: 2rem;
}

.formEdit {
  max-height: 50%;
  margin: 3rem;
  padding: 2rem;
}
